@inject ProjectService ProjectService
@inject UserService UserService
@inject CategoryService CategoryService 

<Form>
    <Field>
        <FieldLabel>Name</FieldLabel>
        <TextEdit Role="TextRole.Text" Placeholder="Enter project's name" @bind-Text="Project.Name" />
    </Field>
    <Field>
        <FieldLabel>Description</FieldLabel>
        <MemoEdit @bind-Text="Project.Description"></MemoEdit>
    </Field>
    <Field>
        <FieldLabel>Assign project's owner</FieldLabel>
        <Select TValue="string" SelectedValue="_ownerId" SelectedValueChanged="OnSelectedOwnerChanged">
            @foreach (var user in _users)
            {
                @if (IsOwner(user))
                {
                    <SelectItem TValue="string" Value="user.Id" Class="text-success">@user.Email</SelectItem>
                }
                else
                {
                    <SelectItem TValue="string" Value="user.Id">@user.Email</SelectItem>
                }
            }
        </Select>
    </Field>
    <Field>
        <FieldLabel>Assign contributors</FieldLabel>
        <Select Multiple="true" TValue="string" SelectedValues="_contributorsIds" SelectedValuesChanged="OnSelectedContributorsChanged">
            @foreach (var user in _users)
            {
                @if (IsAContributor(user))
                {
                    <SelectItem TValue="string" Value="user.Id" Class="text-success">@user.Email</SelectItem>
                }
                else
                {
                    <SelectItem TValue="string" Value="user.Id">@user.Email</SelectItem>
                }
            }
        </Select>
    </Field>
    <Field>
        <FieldLabel>Assign categories</FieldLabel>
        <Select Multiple="true" TValue="int" SelectedValues="_categoriesIds" SelectedValuesChanged="OnSelectedCategoriesChanged">
            @foreach (var category in _categories)
            {
                @if (IsInCategory(category))
                {
                    <SelectItem TValue="int" Value="category.Id" Class="text-success">@category.Name</SelectItem>
                }
                else
                {
                    <SelectItem TValue="int" Value="category.Id">@category.Name</SelectItem>
                }
             }
        </Select>
    </Field>
    <Button Color="Color.Primary" @onclick="FormSubmitted">Submit</Button>
</Form>

@code {
    [Parameter]
    public EventCallback<ProjectRegistration> OnFormSubmitted { get; set; }

    [Parameter]
    public ProjectRegistration Project { get; set; }

    List<ApplicationUser> _users = new List<ApplicationUser>();
    List<Category> _categories = new List<Category>();

    // Used in the Select component
    string _ownerId;
    List<string> _contributorsIds = new List<string>();
    List<int> _categoriesIds = new List<int>();

    ApplicationUser _ownerSelected;
    List<ApplicationUser> _contributorsSelected = new List<ApplicationUser>();
    List<Category> _categoriesSelected = new List<Category>();

    protected override void OnInitialized()
    {
        Init();
    }

    private async void FormSubmitted()
    {
        if ((_ownerSelected != null ) && (_ownerSelected != Project.Owner))
        {
            Project.Owner = _ownerSelected;
        }
        Project.Contributors = _contributorsSelected;
        Project.Categories = _categoriesSelected;
        await OnFormSubmitted.InvokeAsync(Project);
        Init(true);
    }

    // Currently there is an issue with the Select component that do not get the changes from the code.
    // so if you add changes here for updating the component it will not work.
    // Solution might be to have two different form depending on the action we want to perform
    public void Init(bool force = false)
    {
        _users = UserService.GetAll();
        _categories = CategoryService.GetAll();

        if (Project == null || force)
        {
            Project = new ProjectRegistration();
            Project.Owner = _users[0];
        }
        StateHasChanged();
    }

    // For some reason I cannot make the Select binding work with the ApplicationUser or Category or any other user defined types directly
    // so we have to rely on getting the right data from the selected Ids instead.
    void OnSelectedOwnerChanged(string ownerId)
    {
        _ownerId = ownerId;
        _ownerSelected = _users.Where(u => u.Id == _ownerId).Single();
    }

    void OnSelectedContributorsChanged(IReadOnlyList<string> users)
    {
        _contributorsSelected = _users.Join(users, user => user.Id, id => id, (user, id) => user).ToList();
    }

    void OnSelectedCategoriesChanged(IReadOnlyList<int> categories)
    {
        _categoriesSelected = _categories.Join(categories, cat => cat.Id, id => id, (cat, id) => cat).ToList();
    }

    bool IsAContributor(ApplicationUser user)
    {
        return Project.Contributors.Any(u => u.Id == user.Id);
    }

    bool IsInCategory(Category category)
    {
        return Project.Categories.Any(c => c.Id == category.Id);
    }

    bool IsOwner(ApplicationUser user)
    {
        return Project.Owner.Id == user.Id;
    }
}
